$primary-color: #3498db;
$primary-dark: #2980b9;
$accent-color: #e74c3c;
$border-color: #dcdcdc;
$background-color: #f5f5f5;
$input-bg-color: #fff;
$error-color: #e74c3c;
$font-family: "Poppins", sans-serif;

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: $background-color;
  max-width: 32rem;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .auth-header {
    text-align: center;
    margin-bottom: 2rem;

    .auth-logo {
      font-size: 2rem;
      font-weight: bold;
      color: var(--color-primary-dark);

      span {
        color: $accent-color;
      }
    }

    .auth-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--color-primary-dark);
    }
  }

  .auth-input {
    margin-bottom: 1rem;

    label {
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #333;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      background: $input-bg-color;
      transition: border 0.2s, box-shadow 0.2s;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
      }
    }
  }

  .password-input-container {
    position: relative;

    input {
      width: 100%;
      padding-right: 3rem;
    }

    .password-toggle {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 1.25rem;
      color: $primary-dark;
    }
  }

  .auth-button {
    background-color: $primary-color;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $primary-dark;
    }
  }

  .auth-actions {
    text-align: center;
    margin-top: 1rem;

    .auth-link {
      color: $primary-dark;
      font-weight: bold;
      text-decoration: none;
      // margin-right: 1rem;
      &:nth-child(1) {
        margin-right: 2rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .auth-error {
    color: $error-color;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
  }
}
