.auth-logo {
  text-decoration: none;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
}

.auth-logo span {
  color: var(--color-accent-light);
}

.auth-socials-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.auth-socials-row img {
  width: 1.5rem;
  height: 1.5rem;
}

.auth-socials-row > a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 3rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--secondary);
  padding: 0.5rem;
  border: 1px solid var(--border);
  background: var(--white);
  transition: all 0.3s ease;
  font-weight: 700;
}

.auth-socials-row > a:hover {
  border: 1px solid var(--primary);
}

.auth-login-welcome-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.auth-welcome-message {
  max-width: 24rem;
}

.auth-logo {
  height: 4rem;
  margin: 0 auto;
}

.auth-logo {
  color: var(--primary);
}

.auth-lines {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
}

.auth-line {
  height: 2px;
  flex: 1;
  background: var(--border);
}

.auth-text-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-text-field input {
  color: var(--secondary);
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--border);
  min-height: 3rem;
  letter-spacing: 0.03rem;
  outline: none;
  background: var(--input-bg);
  transition: 0.25s;
  border-radius: 0.5rem;
  text-indent: 1.25rem;
}

.auth-text-field label {
  color: var(--text);
}

.auth-text-field input:user-invalid {
  background: var(--white);
  color: var(--error);
  border: 1px solid var(--error);
}

.auth-error-message {
  display: none;
}

.auth-text-field input:user-invalid ~ .auth-error-message {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: var(--error);
}

.auth-text-field input:focus {
  border: 1px solid var(--primary);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.auth-my-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background: var(--white);
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 8px 0px;
  height: fit-content;
}

.auth-my-form__button {
  background: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3.125rem;
  outline: none;
  font-size: 1.125rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 3.125rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.auth-my-form__button:hover {
  background: var(--primary-dark);
}

/* my form actions */
.auth-my-form__actions {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  justify-content: space-between;
  color: var(--secondary);
  gap: 1rem;
  margin-top: 0.5rem;
}

.auth-my-form__actions .auth-form-link {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

.auth-my-form__actions .auth-form-link:hover {
  text-decoration: underline;
}

.auth-my-form__row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
